
body {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.App {
  padding: 0;
  margin: 0;
  border: 0;
  background: salmon;
  max-width: 50em;
  margin: auto;
  display: grid;
  grid-template-columns: 15em auto;
  grid-template-rows: auto
}

.App-header {
  grid-column: 1/3;
  margin: auto;
  text-align: center;
}

.sign-in-form {
  grid-column: 1/2;
  margin: auto;
  text-align: center;
}

.user-welcome {
  grid-column: 1/2;
  margin: auto;
  text-align: center;

}

.create-castle-form {
  grid-column: 1/2;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.castles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  

}

.castle-card {
  margin: auto; 
  width: 80%;
  height: 150px;

}   

/* .castle-card-expanded {
  display: block;
  position:absolute; top:0; bottom:0; left:10px;
  min-width: 100%;

} */

/* .memory {
  position: fixed;
  width: 80px;
  
} */
.castle-card-expanded{
  width:100%;
  top:0%;
  left:0%;
  position:fixed;
}

.castle-card-expanded img {
  width: 100%
}


.memory{
    display: fixed;
    background: none repeat scroll 0 0 gold;
    height: 3%;
    position: absolute;
    /* right: 18.1%;
    top: 68.9%; */
    width: 10%;
}

.castle-card img {
  display: none;
}

