
body {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.App {
  padding: 0;
  margin: 0;
  border: 0;
  background: salmon;
  max-width: 50em;
  margin: auto;
  display: grid;
  grid-template-columns: 15em auto;
  grid-template-rows: auto
}

.App-header {
  grid-column: 1/3;
  margin: auto;
  text-align: center;
}

.sign-in-form {
  grid-column: 1/2;
  margin: auto;
  text-align: center;
}

.user-welcome {
  grid-column: 1/2;
  margin: auto;
  text-align: center;

}

.create-castle-form {
  grid-column: 1/2;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.castles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  

}

.castle-card {
  margin: auto; 
  width: 80%;
  height: 150px;

}

.castle-card-expanded {
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
}
.castle-card img {
  display: none;
}

