@font-face {
    font-family: SansForgetica;
    src: url("SansForgetica-Regular.otf") format("opentype");
}
body {
  padding: 0px;
  margin: 0px;
  border: 0px;
  min-width: 850px;
  height: 100vh;
  position: relative;
  background: #b9b6b6cc;
  z-index: 1;

}

Body::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100vh;  
  opacity: .3; 
  z-index: -1;
  background: url("bg-bricks.jpg");
}

.App {
  padding: 0;
  margin: 0;
  border: 0;
  max-width: 90em;
  margin: auto;
  display: grid;
  grid-template-columns: 15em auto;
  grid-template-rows: auto
}

.App-header {
  grid-column: 2/3;
  font-family: fantasy;
  font-size: 2.1em;
  margin: auto;
  text-align: center;
}

.intro {
  color: seashell;
  grid-column: 2/3;
  margin: auto;
  width: 80%;
  background: #443737;
  border-radius: 10px;
  box-shadow: 5px 6px 8px #888888;
  padding: 10px;

}

.intro a{
  font-family: SansForgetica;
  color: firebrick;
}
/* ==========================FORMS ========================= */
.sign-in-form {
  grid-column: 1/2;
  grid-row: 2/3;  
  padding: 3%;
  margin: auto;
  text-align: center;
}

.sign-in-form input{
  background: rgb(100,100,100, .5);
  height: 30px;
  font-family: cursive;
  text-transform: capitalize;
  width: 90%;
  font-size: 1.1em;
  transition: .5s ease;
}

.sign-in-form input:focus {
  background: rgba(218,165,32,.5);
}



.sign-in-form button{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 10px;
  padding: 3%;
  transition: transform .20s;
  transition: background-color 0.5s ease;


}

.sign-in-form button:hover{
  transform: scale(1.1);
  font-weight: 1000;
  background-color: goldenrod; 
}

.user-welcome {
  grid-column: 1/2;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  font-family: fantasy;
  font-weight: 700;

}

.create-castle-form {
  grid-column: 1/2;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 3%;
}
.create-castle-form input:first-of-type{
  background: rgb(100,100,100, .5);
  height: 30px;
  font-family: cursive;
  text-transform: capitalize;
  font-size: 1.1em;
  margin: 3%;
}

.create-castle-form input{
  background: rgb(100,100,100, .3);
  height: 30px;
  font-family: cursive;
  text-transform: capitalize;
  width: 90%;
  font-size: .7em;
  transition: .5s ease;
}
.create-castle-form input:focus{
    background: rgba(218,165,32,.5);
}

.create-castle-form button{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 10px;
  padding: 3%;
  transition: transform .20s;
  transition: background-color 0.5s ease;


}
.create-castle-form button:hover {
  transform: scale(1.1); 
  background-color: goldenrod;
}




/* ==============CASTLE CONTAINER AND CARDS ======================= */
.castles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5%;
  grid-row-gap: 10%;
}

.castle-card {
  position: relative;
  margin: auto; 
  width: 80%;
  height: 150px;
  transition: transform .35s;
  box-shadow: 5px 6px 8px #888888;
}   

.castle-card h2.castle-card-header {
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: seashell;
  text-transform: uppercase;
  background: rgba(22, 17, 17, 0.466)
}

button.expand-castle{
  position: absolute;
  width: 100%;
  height: 100%;
  color: rgba(255,255,255,0);
  background: rgba(255,255,255,0);

}

.delete-castle {
    position: absolute;
    right: -4px;
    top: -4px;
    border-radius: 50%;
    background: rgb(100, 100, 100, .4);
    color: seashell;
    border: 2px solid;
}

.castle-card:hover {
  transform: scale(1.2); 
  box-shadow: 5px 6px 8px #443737;
}

/* ===================== CASTLE CARD EXPANDED ========== */
.castle-card-expanded{
  display: grid;
  width:100%;
  top:0%;
  left:0%;
  position:fixed;
  z-index: 2;
}

.castle-card-expanded button.expand-castle {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: .8em;
    margin: auto;
    right: -2px;
    top: -2px;
    border-radius: 40px;
    color: seashell;
    background: rgb(100, 100, 100, .4);
    cursor: pointer;
    transition: .5s ease;
}
.castle-card-expanded button.expand-castle:hover {
  background: rgba(218,154,32,.7);;
}


.castle-card-expanded h2{
  text-transform: uppercase;
  font-family: fantasy;
  margin: auto;
  color: white;
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: seashell;
  text-transform: uppercase;
  background: rgba(22, 17, 17, 0.466)
}

.castle-card-expanded button.delete-castle{
  display: none; 
}
.castle-card-header {
  position: absolute;
  right: 50%;
}

.castle-card-expanded img {
  width: 100%
}


/* ==================== MEMORIES ================ */

.memory{
    display: fixed;
    background: none repeat scroll 0 0 rgba(22, 17, 17, 0.466);
    color: rgb(218, 210, 210);
    height: auto;
    font-family: SansForgetica;
    font-size: .9em;
    position: absolute;
    /* right: 18.1%;
    top: 68.9%;  these values are coming from the db and set inline on the memory controller*/
    width: 10%;
    transition: .5s ease;

}

.memory:hover {
  transform: scale(1.25); 
  color: goldenrod;
  background: rgba(22, 17, 17, 0.9);
  font-size: 1.2em;
  cursor: pointer;

}





.create-memory-form {
    display: fixed;
    background: none repeat ;
    height: 40%;
    position: absolute;
    /* right: 18.1%;
    top: 68.9%;  positions coming from creatememory component*/
    width: 15%;
}

.create-memory-form input{
  background:rgba(22, 17, 17, 0.466);
  width: 250px;
  color: rgb(218, 210, 210);
  font-size: 1.1em;
  height: 30px;
  border: none;
  
}

.create-memory-form buton{
  margin: auto;
}

.delete-memory {
    position: absolute;
    right: -4px;
    top: -4px;
    border: none;
    border-radius: 50%;
    color: seashell;
    background: rgb(100, 100, 100, .4);
}

.castle-card img {
  display: none;
}

